/* Common Styles */
/* Setting site font */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    min-height: 600px;
    max-width: 900px;
    margin: 30px 150px 20px 150px;
}

/* Button styles */
.btn {
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-green {
    background-color: #4CAF50;
}

.btn-blue {
    background-color: #008CBA;
}

.btn-red {
    background-color: #f44336;
}

.btn-black {
    background-color: #555555;
}

.btn-lg {
    font-size: 24px;
}

/* Used for page title */
.text-center {
    text-align: center;
}

/* Student Listing Page Styles */
/* Table Styling */
.student-list {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

.student-list th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 5px;
}

.student-list th {
    background-color: #4CAF50;
    color: white;
}

.action-td, .action-th {
    text-align: center !important;
}

/* Student Create Page Styles */
.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    border-radius: 70px;
    background-color: #f2f2f2;
    padding: 50px;
}

.form-group {
    margin-bottom: 1rem;
}